<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value=""/>
    <add key="RedirectUrl" value="urn:ietf:wg:oauth:2.0:oob"/>
    <add key="Resource" value="https://management.core.windows.net/"/>
    <add key="TenantId" value="common"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>